.card{
  //border: 1px solid $clr_main;
margin: 20px;
  padding: 20px;
  border-radius: 5px;
  //width: 309px;
  height: 383px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .book-name{height: 31px;
    margin: 5px;
  }
  .book-autor{
    margin: 5px;
    height: 31px;
  }
  .book-image{
    overflow: hidden;
    margin: 5px;
  img{width: 133px;
    height: 203.05px;
  }
  }
  .book-price{
    margin: 5px;
    height: 25px;
  }
  .book-order{
    margin: 5px;
button{
  border:2px solid $clr_main;
color:$clr_main ;
  width: 100px;
  height: 30px;

  background: #E7D6AC;
  border-radius: 20px;
}
    button:hover{
      background-color: $clr_main3;
      cursor: pointer;
    }
  }
}