@import "variables";
.m-0{margin: 0;}
.m-25{margin: 25%;}
.m-50{margin: 50%;}
.m-75{margin: 75%;}
.m-100{margin: 100%;}

.m-1{margin: $smaller_size;}
.m-2{margin: $small_size;}
.m-3{margin: $middle_size;}
.m-4{margin: $large_size;}
.m-5{margin: $x-large_size;}
.m-6{margin: $xx-large_size;}

