$shadow:0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);

$smaller_size:3px;
$small_size:5px;
$middle_size:10px;
$large_size:0px;
$x-large_size:40px;
$xx-large_size:70px;

$clr_main: #550D0E;
$clr_main2: #A13842;
$clr_main3: #F9F4DB;
$clr_main4: #E7D6AC;
$white: white;
